@charset "UTF-8";
body{
  background-color: #f8f4e6;
  background-image: url(https://raw.githubusercontent.com/kougei-abe/web2-3/master/img/drink_coffee_tea_woman.png);
  background-repeat: repeat;
}
h1{
  font-size: 1.75em;
  background-color: #f5ecf4;
}
h1 span{
  font-size: 2em;
}
h2{
  font-size: 1.25em;
  border: #94c8b1 1px dotted;
  border-left:#d0e35b 10px solid;
  margin-bottom: 0;
  padding: 5px 20px;
}
p{
  font-size: 0.8em;
}
li{
  font-size: 0.8em;
}
dt{
  font-size: 0.8em;
}
a:link{
  color: #ffc1c1;
}
a:visited{
  color: #ff6666;
}
a:hover{
  color: #c1e0ff;
}
.umber{
  color: #6f5436;
}
#title{
  color: #626063;
  font-weight: 600;
}
